# Object Relational Tutorial

In [1]:
import sqlalchemy

In [2]:
sqlalchemy.__version__

'1.2.15'

## Connecting

In [12]:
DB_LINK = 'postgres://user:manager@postgres:5432/db'

In [13]:
from sqlalchemy import create_engine

In [14]:
engine = create_engine(DB_LINK, echo=True)

In [15]:
engine

Engine(postgres://user:***@postgres:5432/db)

## Declare Mapping

In [7]:
from sqlalchemy.ext.declarative import declarative_base

In [8]:
Base = declarative_base()

In [9]:
from sqlalchemy import Column, Integer, String

In [192]:
class User(Base):
    __tablename__ = 'users'
    
    id = Column(Integer, primary_key=True)
    name = Column(String(50))
    fullname = Column(String(100))
    password = Column(String(50))
    
    def __repr__(self):
        return (
            f'<User(name={self.name}, fullname={self.fullname}, '
            f'password={self.password})>'
        )

In [11]:
User.__table__

Table('users', MetaData(bind=None), Column('id', Integer(), table=<users>, primary_key=True, nullable=False), Column('name', String(length=50), table=<users>), Column('fullname', String(length=100), table=<users>), Column('password', String(length=50), table=<users>), schema=None)

In [12]:
Base.metadata.create_all(engine)

2018-12-26 15:26:42,473 INFO sqlalchemy.engine.base.Engine select version()
2018-12-26 15:26:42,475 INFO sqlalchemy.engine.base.Engine {}
2018-12-26 15:26:42,478 INFO sqlalchemy.engine.base.Engine select current_schema()
2018-12-26 15:26:42,478 INFO sqlalchemy.engine.base.Engine {}
2018-12-26 15:26:42,480 INFO sqlalchemy.engine.base.Engine SELECT CAST('test plain returns' AS VARCHAR(60)) AS anon_1
2018-12-26 15:26:42,481 INFO sqlalchemy.engine.base.Engine {}
2018-12-26 15:26:42,482 INFO sqlalchemy.engine.base.Engine SELECT CAST('test unicode returns' AS VARCHAR(60)) AS anon_1
2018-12-26 15:26:42,483 INFO sqlalchemy.engine.base.Engine {}
2018-12-26 15:26:42,484 INFO sqlalchemy.engine.base.Engine show standard_conforming_strings
2018-12-26 15:26:42,484 INFO sqlalchemy.engine.base.Engine {}
2018-12-26 15:26:42,487 INFO sqlalchemy.engine.base.Engine select relname from pg_class c join pg_namespace n on n.oid=c.relnamespace where pg_catalog.pg_table_is_visible(c.oid) and relname=%(name)s
2018-12-26 15:26:42,487 INFO sqlalchemy.engine.base.Engine {'name': 'users'}
2018-12-26 15:26:42,489 INFO sqlalchemy.engine.base.Engine
CREATE TABLE users (
	id SERIAL NOT NULL,
	name VARCHAR(50),
	fullname VARCHAR(100),
	password VARCHAR(50),
	PRIMARY KEY (id)
)


2018-12-26 15:26:42,490 INFO sqlalchemy.engine.base.Engine {}
2018-12-26 15:26:42,519 INFO sqlalchemy.engine.base.Engine COMMIT

## Create an Instance of the Mapped Class

In [13]:
ed_user = User(name='ed', fullname='Ed Jones', password='edspassword')

In [14]:
ed_user.name

'ed'

In [15]:
str(ed_user.id)

'None'

## Creating a Session

In [16]:
from sqlalchemy.orm import sessionmaker

In [17]:
Session = sessionmaker(bind=engine)

In [18]:
session = Session()

## Adding and Updating Objects

In [19]:
ed_user = User(name='ed', fullname='Ed Jones', password='edspassword')

In [20]:
session.add(ed_user)
# at this moment no SQL query performed

In [21]:
# but here they are
our_user = session.query(User).filter_by(name='ed').first()

2018-12-26 15:26:42,607 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2018-12-26 15:26:42,609 INFO sqlalchemy.engine.base.Engine INSERT INTO users (name, fullname, password) VALUES (%(name)s, %(fullname)s, %(password)s) RETURNING users.id
2018-12-26 15:26:42,609 INFO sqlalchemy.engine.base.Engine {'name': 'ed', 'fullname': 'Ed Jones', 'password': 'edspassword'}
2018-12-26 15:26:42,612 INFO sqlalchemy.engine.base.Engine SELECT users.id AS users_id, users.name AS users_name, users.fullname AS users_fullname, users.password AS users_password
FROM users
WHERE users.name = %(name_1)s
 LIMIT %(param_1)s
2018-12-26 15:26:42,612 INFO sqlalchemy.engine.base.Engine {'name_1': 'ed', 'param_1': 1}

In [22]:
our_user

In [23]:
our_user.id

1

In [24]:
ed_user is our_user

True

In [25]:
ed_user.id

1

In [26]:
# add more users
session.add_all([
    User(name='wendy', fullname='Wendy Williams', password='foo'),
    User(name='mary', fullname='Mary Johnes', password='bar'),
    User(name='fred', fullname='Freddy Cruger', password='oak'),
])

In [27]:
ed_user.password = 'new-password'

In [28]:
session.dirty

IdentitySet([<User(name=ed, fullname=Ed Jones, password=new-password)>])

In [29]:
session.new

IdentitySet([<User(name=wendy, fullname=Wendy Williams, password=foo)>, <User(name=mary, fullname=Mary Johnes, password=bar)>, <User(name=fred, fullname=Freddy Cruger, password=oak)>])

In [30]:
session.commit()

2018-12-26 15:26:42,693 INFO sqlalchemy.engine.base.Engine UPDATE users SET password=%(password)s WHERE users.id = %(users_id)s
2018-12-26 15:26:42,694 INFO sqlalchemy.engine.base.Engine {'password': 'new-password', 'users_id': 1}
2018-12-26 15:26:42,695 INFO sqlalchemy.engine.base.Engine INSERT INTO users (name, fullname, password) VALUES (%(name)s, %(fullname)s, %(password)s) RETURNING users.id
2018-12-26 15:26:42,695 INFO sqlalchemy.engine.base.Engine {'name': 'wendy', 'fullname': 'Wendy Williams', 'password': 'foo'}
2018-12-26 15:26:42,696 INFO sqlalchemy.engine.base.Engine INSERT INTO users (name, fullname, password) VALUES (%(name)s, %(fullname)s, %(password)s) RETURNING users.id
2018-12-26 15:26:42,697 INFO sqlalchemy.engine.base.Engine {'name': 'mary', 'fullname': 'Mary Johnes', 'password': 'bar'}
2018-12-26 15:26:42,699 INFO sqlalchemy.engine.base.Engine INSERT INTO users (name, fullname, password) VALUES (%(name)s, %(fullname)s, %(password)s) RETURNING users.id
2018-12-26 15:26:42,700 INFO sqlalchemy.engine.base.Engine {'name': 'fred', 'fullname': 'Freddy Cruger', 'password': 'oak'}
2018-12-26 15:26:42,702 INFO sqlalchemy.engine.base.Engine COMMIT

## Rolling Back

In [31]:
# some changes we want to rollback
ed_user.name = 'Edwardo'
fake_user = User(name='fakeuser', fullname='Invalid', password='123')
session.add(fake_user)

In [32]:
session.query(User).filter(User.name.in_(['Edwardo', 'fakeuser'])).all()

2018-12-26 15:26:42,723 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2018-12-26 15:26:42,725 INFO sqlalchemy.engine.base.Engine SELECT users.id AS users_id, users.fullname AS users_fullname, users.password AS users_password
FROM users
WHERE users.id = %(param_1)s
2018-12-26 15:26:42,726 INFO sqlalchemy.engine.base.Engine {'param_1': 1}
2018-12-26 15:26:42,728 INFO sqlalchemy.engine.base.Engine UPDATE users SET name=%(name)s WHERE users.id = %(users_id)s
2018-12-26 15:26:42,728 INFO sqlalchemy.engine.base.Engine {'name': 'Edwardo', 'users_id': 1}
2018-12-26 15:26:42,729 INFO sqlalchemy.engine.base.Engine INSERT INTO users (name, fullname, password) VALUES (%(name)s, %(fullname)s, %(password)s) RETURNING users.id
2018-12-26 15:26:42,730 INFO sqlalchemy.engine.base.Engine {'name': 'fakeuser', 'fullname': 'Invalid', 'password': '123'}
2018-12-26 15:26:42,732 INFO sqlalchemy.engine.base.Engine SELECT users.id AS users_id, users.name AS users_name, users.fullname AS users_fullname, users.password AS users_password
FROM users
WHERE users.name IN (%(name_1)s, %(name_2)s)
2018-12-26 15:26:42,732 INFO sqlalchemy.engine.base.Engine {'name_1': 'Edwardo', 'name_2': 'fakeuser'}

[<User(name=Edwardo, fullname=Ed Jones, password=new-password)>,
 <User(name=fakeuser, fullname=Invalid, password=123)>]

In [33]:
session.rollback()

2018-12-26 15:26:42,739 INFO sqlalchemy.engine.base.Engine ROLLBACK

In [34]:
session.query(User).filter(User.name.in_(['ed', 'fakeuser'])).all()

2018-12-26 15:26:42,748 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2018-12-26 15:26:42,750 INFO sqlalchemy.engine.base.Engine SELECT users.id AS users_id, users.name AS users_name, users.fullname AS users_fullname, users.password AS users_password
FROM users
WHERE users.name IN (%(name_1)s, %(name_2)s)
2018-12-26 15:26:42,750 INFO sqlalchemy.engine.base.Engine {'name_1': 'ed', 'name_2': 'fakeuser'}

## Querying

In [35]:
for instance in session.query(User).order_by(User.id):
    print('>>>', instance.name, instance.fullname)

2018-12-26 15:26:42,759 INFO sqlalchemy.engine.base.Engine SELECT users.id AS users_id, users.name AS users_name, users.fullname AS users_fullname, users.password AS users_password
FROM users ORDER BY users.id
2018-12-26 15:26:42,760 INFO sqlalchemy.engine.base.Engine {}
>>> ed Ed Jones
>>> wendy Wendy Williams
>>> mary Mary Johnes
>>> fred Freddy Cruger

In [36]:
# get only some fields
for name, fullname in session.query(User.name, User.fullname):
    print('>>>', name, fullname)

2018-12-26 15:26:42,769 INFO sqlalchemy.engine.base.Engine SELECT users.name AS users_name, users.fullname AS users_fullname
FROM users
2018-12-26 15:26:42,770 INFO sqlalchemy.engine.base.Engine {}
>>> ed Ed Jones
>>> wendy Wendy Williams
>>> mary Mary Johnes
>>> fred Freddy Cruger

In [37]:
# result if fields are used is namedtuple
list(session.query(User.name, User.id))

2018-12-26 15:26:42,778 INFO sqlalchemy.engine.base.Engine SELECT users.name AS users_name, users.id AS users_id
FROM users
2018-12-26 15:26:42,779 INFO sqlalchemy.engine.base.Engine {}

[('ed', 1), ('wendy', 2), ('mary', 3), ('fred', 4)]

In [38]:
i = _[0]

In [39]:
# every 
type(i)

sqlalchemy.util._collections.result

In [40]:
i.name

'ed'

In [41]:
i.keys()

['name', 'id']

In [42]:
# labels for fields
for row in session.query(User.name.label('username')).all():
    print(f'Username: {row.username}')

2018-12-26 15:26:42,825 INFO sqlalchemy.engine.base.Engine SELECT users.name AS username
FROM users
2018-12-26 15:26:42,826 INFO sqlalchemy.engine.base.Engine {}
Username: ed
Username: wendy
Username: mary
Username: fred

In [43]:
# alias for models
from sqlalchemy.orm import aliased
usr = aliased(User, name='usr')

for row in session.query(usr, usr.name).all():
    print('>>>', row)

2018-12-26 15:26:42,835 INFO sqlalchemy.engine.base.Engine SELECT usr.id AS usr_id, usr.name AS usr_name, usr.fullname AS usr_fullname, usr.password AS usr_password
FROM users AS usr
2018-12-26 15:26:42,836 INFO sqlalchemy.engine.base.Engine {}
>>> (<User(name=ed, fullname=Ed Jones, password=new-password)>, 'ed')
>>> (<User(name=wendy, fullname=Wendy Williams, password=foo)>, 'wendy')
>>> (<User(name=mary, fullname=Mary Johnes, password=bar)>, 'mary')
>>> (<User(name=fred, fullname=Freddy Cruger, password=oak)>, 'fred')

In [44]:
# limit/offset
for u in session.query(User).order_by(User.id)[1:3]:
    print('>>>', u)

2018-12-26 15:26:42,843 INFO sqlalchemy.engine.base.Engine SELECT users.id AS users_id, users.name AS users_name, users.fullname AS users_fullname, users.password AS users_password
FROM users ORDER BY users.id
 LIMIT %(param_1)s OFFSET %(param_2)s
2018-12-26 15:26:42,844 INFO sqlalchemy.engine.base.Engine {'param_1': 2, 'param_2': 1}
>>> <User(name=wendy, fullname=Wendy Williams, password=foo)>
>>> <User(name=mary, fullname=Mary Johnes, password=bar)>

In [45]:
# filtering by
for name, in session.query(User.name).filter_by(fullname='Ed Jones'):
    print('>>>', name)

2018-12-26 15:26:42,852 INFO sqlalchemy.engine.base.Engine SELECT users.name AS users_name
FROM users
WHERE users.fullname = %(fullname_1)s
2018-12-26 15:26:42,853 INFO sqlalchemy.engine.base.Engine {'fullname_1': 'Ed Jones'}
>>> ed

In [46]:
# or filter in another style:
q = session.query(User.name).filter(User.fullname=='Ed Jones')

for name, in q:
    print(name)

2018-12-26 15:26:42,864 INFO sqlalchemy.engine.base.Engine SELECT users.name AS users_name
FROM users
WHERE users.fullname = %(fullname_1)s
2018-12-26 15:26:42,865 INFO sqlalchemy.engine.base.Engine {'fullname_1': 'Ed Jones'}
ed

In [47]:
# chains
query = session.query(User)\
    .filter(User.name=='ed')\
    .filter(User.fullname=='Ed Jones')
for u in query:
    print('>>>', u)

2018-12-26 15:26:42,873 INFO sqlalchemy.engine.base.Engine SELECT users.id AS users_id, users.name AS users_name, users.fullname AS users_fullname, users.password AS users_password
FROM users
WHERE users.name = %(name_1)s AND users.fullname = %(fullname_1)s
2018-12-26 15:26:42,874 INFO sqlalchemy.engine.base.Engine {'name_1': 'ed', 'fullname_1': 'Ed Jones'}
>>> <User(name=ed, fullname=Ed Jones, password=new-password)>

### Common Filter Operators

In [48]:
query = session.query(User)
__ = list

In [49]:
# equals
list(query.filter(User.name == 'ed'))

2018-12-26 15:26:42,891 INFO sqlalchemy.engine.base.Engine SELECT users.id AS users_id, users.name AS users_name, users.fullname AS users_fullname, users.password AS users_password
FROM users
WHERE users.name = %(name_1)s
2018-12-26 15:26:42,892 INFO sqlalchemy.engine.base.Engine {'name_1': 'ed'}

In [50]:
# not equals
list(query.filter(User.name != 'ed'))

2018-12-26 15:26:42,900 INFO sqlalchemy.engine.base.Engine SELECT users.id AS users_id, users.name AS users_name, users.fullname AS users_fullname, users.password AS users_password
FROM users
WHERE users.name != %(name_1)s
2018-12-26 15:26:42,901 INFO sqlalchemy.engine.base.Engine {'name_1': 'ed'}

[<User(name=wendy, fullname=Wendy Williams, password=foo)>,
 <User(name=mary, fullname=Mary Johnes, password=bar)>,
 <User(name=fred, fullname=Freddy Cruger, password=oak)>]

In [51]:
# LIKE
list(query.filter(User.name.like('%ed%')))

2018-12-26 15:26:42,912 INFO sqlalchemy.engine.base.Engine SELECT users.id AS users_id, users.name AS users_name, users.fullname AS users_fullname, users.password AS users_password
FROM users
WHERE users.name LIKE %(name_1)s
2018-12-26 15:26:42,914 INFO sqlalchemy.engine.base.Engine {'name_1': '%ed%'}

[<User(name=ed, fullname=Ed Jones, password=new-password)>,
 <User(name=fred, fullname=Freddy Cruger, password=oak)>]

In [52]:
# ILIKE (case-insensitive LIKE)
list(query.filter(User.name.ilike('%ed%')))

2018-12-26 15:26:42,922 INFO sqlalchemy.engine.base.Engine SELECT users.id AS users_id, users.name AS users_name, users.fullname AS users_fullname, users.password AS users_password
FROM users
WHERE users.name ILIKE %(name_1)s
2018-12-26 15:26:42,922 INFO sqlalchemy.engine.base.Engine {'name_1': '%ed%'}

[<User(name=ed, fullname=Ed Jones, password=new-password)>,
 <User(name=fred, fullname=Freddy Cruger, password=oak)>]

In [53]:
# IN
list(query.filter(User.name.in_(('ed', 'wendy', 'jack'))))

2018-12-26 15:26:42,931 INFO sqlalchemy.engine.base.Engine SELECT users.id AS users_id, users.name AS users_name, users.fullname AS users_fullname, users.password AS users_password
FROM users
WHERE users.name IN (%(name_1)s, %(name_2)s, %(name_3)s)
2018-12-26 15:26:42,932 INFO sqlalchemy.engine.base.Engine {'name_1': 'ed', 'name_2': 'wendy', 'name_3': 'jack'}

[<User(name=ed, fullname=Ed Jones, password=new-password)>,
 <User(name=wendy, fullname=Wendy Williams, password=foo)>]

In [54]:
# IN with subquery
list(query.filter(User.name.in_(
    session.query(User.name).filter(User.name.like('%ed%'))
)))

2018-12-26 15:26:42,943 INFO sqlalchemy.engine.base.Engine SELECT users.id AS users_id, users.name AS users_name, users.fullname AS users_fullname, users.password AS users_password
FROM users
WHERE users.name IN (SELECT users.name AS users_name
FROM users
WHERE users.name LIKE %(name_1)s)
2018-12-26 15:26:42,944 INFO sqlalchemy.engine.base.Engine {'name_1': '%ed%'}

[<User(name=ed, fullname=Ed Jones, password=new-password)>,
 <User(name=fred, fullname=Freddy Cruger, password=oak)>]

In [55]:
# NOT IN
list(query.filter(~User.name.in_(('ed', 'wendy', 'jack'))))

2018-12-26 15:26:42,953 INFO sqlalchemy.engine.base.Engine SELECT users.id AS users_id, users.name AS users_name, users.fullname AS users_fullname, users.password AS users_password
FROM users
WHERE users.name NOT IN (%(name_1)s, %(name_2)s, %(name_3)s)
2018-12-26 15:26:42,954 INFO sqlalchemy.engine.base.Engine {'name_1': 'ed', 'name_2': 'wendy', 'name_3': 'jack'}

[<User(name=mary, fullname=Mary Johnes, password=bar)>,
 <User(name=fred, fullname=Freddy Cruger, password=oak)>]

In [56]:
# IS NULL
list(query.filter(User.name == None))

2018-12-26 15:26:42,962 INFO sqlalchemy.engine.base.Engine SELECT users.id AS users_id, users.name AS users_name, users.fullname AS users_fullname, users.password AS users_password
FROM users
WHERE users.name IS NULL
2018-12-26 15:26:42,963 INFO sqlalchemy.engine.base.Engine {}

[]

In [57]:
# IS NULL - 2
list(query.filter(User.name.is_(None)))

2018-12-26 15:26:42,974 INFO sqlalchemy.engine.base.Engine SELECT users.id AS users_id, users.name AS users_name, users.fullname AS users_fullname, users.password AS users_password
FROM users
WHERE users.name IS NULL
2018-12-26 15:26:42,974 INFO sqlalchemy.engine.base.Engine {}

[]

In [58]:
# IS NOT NULL
list(query.filter(User.name != None))

2018-12-26 15:26:42,982 INFO sqlalchemy.engine.base.Engine SELECT users.id AS users_id, users.name AS users_name, users.fullname AS users_fullname, users.password AS users_password
FROM users
WHERE users.name IS NOT NULL
2018-12-26 15:26:42,984 INFO sqlalchemy.engine.base.Engine {}

[<User(name=ed, fullname=Ed Jones, password=new-password)>,
 <User(name=wendy, fullname=Wendy Williams, password=foo)>,
 <User(name=mary, fullname=Mary Johnes, password=bar)>,
 <User(name=fred, fullname=Freddy Cruger, password=oak)>]

In [59]:
# IS NOT NULL -2 
list(query.filter(User.name.isnot(None)))

2018-12-26 15:26:42,992 INFO sqlalchemy.engine.base.Engine SELECT users.id AS users_id, users.name AS users_name, users.fullname AS users_fullname, users.password AS users_password
FROM users
WHERE users.name IS NOT NULL
2018-12-26 15:26:42,993 INFO sqlalchemy.engine.base.Engine {}

[<User(name=ed, fullname=Ed Jones, password=new-password)>,
 <User(name=wendy, fullname=Wendy Williams, password=foo)>,
 <User(name=mary, fullname=Mary Johnes, password=bar)>,
 <User(name=fred, fullname=Freddy Cruger, password=oak)>]

In [60]:
# AND (use and_)
from sqlalchemy import and_
list(query.filter(and_(User.name == 'ed', User.fullname == 'Ed Jones')))

2018-12-26 15:26:43,001 INFO sqlalchemy.engine.base.Engine SELECT users.id AS users_id, users.name AS users_name, users.fullname AS users_fullname, users.password AS users_password
FROM users
WHERE users.name = %(name_1)s AND users.fullname = %(fullname_1)s
2018-12-26 15:26:43,001 INFO sqlalchemy.engine.base.Engine {'name_1': 'ed', 'fullname_1': 'Ed Jones'}

In [61]:
# AND (multiple expression for .filter())
__(query.filter(User.name == 'ed', User.fullname == 'Ed Jones'))

2018-12-26 15:26:43,010 INFO sqlalchemy.engine.base.Engine SELECT users.id AS users_id, users.name AS users_name, users.fullname AS users_fullname, users.password AS users_password
FROM users
WHERE users.name = %(name_1)s AND users.fullname = %(fullname_1)s
2018-12-26 15:26:43,010 INFO sqlalchemy.engine.base.Engine {'name_1': 'ed', 'fullname_1': 'Ed Jones'}

In [62]:
# AND (multiple .filter() calls)
__(query.filter(User.name == 'ed').filter(User.fullname == 'Ed Jones'))

2018-12-26 15:26:43,019 INFO sqlalchemy.engine.base.Engine SELECT users.id AS users_id, users.name AS users_name, users.fullname AS users_fullname, users.password AS users_password
FROM users
WHERE users.name = %(name_1)s AND users.fullname = %(fullname_1)s
2018-12-26 15:26:43,020 INFO sqlalchemy.engine.base.Engine {'name_1': 'ed', 'fullname_1': 'Ed Jones'}

In [63]:
# OR
from sqlalchemy import or_
__(query.filter(or_(User.name == 'ed', User.name == 'wendy')))

2018-12-26 15:26:43,034 INFO sqlalchemy.engine.base.Engine SELECT users.id AS users_id, users.name AS users_name, users.fullname AS users_fullname, users.password AS users_password
FROM users
WHERE users.name = %(name_1)s OR users.name = %(name_2)s
2018-12-26 15:26:43,035 INFO sqlalchemy.engine.base.Engine {'name_1': 'ed', 'name_2': 'wendy'}

[<User(name=ed, fullname=Ed Jones, password=new-password)>,
 <User(name=wendy, fullname=Wendy Williams, password=foo)>]

In [64]:
# MATCH (or CONTAINS)
__(query.filter(User.name.match('wendy')))

2018-12-26 15:26:43,046 INFO sqlalchemy.engine.base.Engine SELECT users.id AS users_id, users.name AS users_name, users.fullname AS users_fullname, users.password AS users_password
FROM users
WHERE users.name @@ to_tsquery(%(name_1)s)
2018-12-26 15:26:43,047 INFO sqlalchemy.engine.base.Engine {'name_1': 'wendy'}

### Returning Lists and Scalar

In [65]:
query = session.query(User).filter(User.name.like('%ed%')).order_by(User.id)

In [66]:
query.all()

2018-12-26 15:26:50,845 INFO sqlalchemy.engine.base.Engine SELECT users.id AS users_id, users.name AS users_name, users.fullname AS users_fullname, users.password AS users_password
FROM users
WHERE users.name LIKE %(name_1)s ORDER BY users.id
2018-12-26 15:26:50,846 INFO sqlalchemy.engine.base.Engine {'name_1': '%ed%'}

[<User(name=ed, fullname=Ed Jones, password=new-password)>,
 <User(name=fred, fullname=Freddy Cruger, password=oak)>]

In [67]:
query.first()

2018-12-26 15:26:52,421 INFO sqlalchemy.engine.base.Engine SELECT users.id AS users_id, users.name AS users_name, users.fullname AS users_fullname, users.password AS users_password
FROM users
WHERE users.name LIKE %(name_1)s ORDER BY users.id
 LIMIT %(param_1)s
2018-12-26 15:26:52,421 INFO sqlalchemy.engine.base.Engine {'name_1': '%ed%', 'param_1': 1}

In [68]:
# query.one() # Fails with MultipleResultsFound

In [69]:
# only one record in DB
query.filter(User.name == 'ed').one()

2018-12-26 15:26:56,629 INFO sqlalchemy.engine.base.Engine SELECT users.id AS users_id, users.name AS users_name, users.fullname AS users_fullname, users.password AS users_password
FROM users
WHERE users.name LIKE %(name_1)s AND users.name = %(name_2)s ORDER BY users.id
2018-12-26 15:26:56,630 INFO sqlalchemy.engine.base.Engine {'name_1': '%ed%', 'name_2': 'ed'}

In [70]:
# no records in DB -> Fail (NoResultFound)
#query.filter(User.id==0).one()

In [71]:
query.filter(User.name == 'ed').one_or_none()

2018-12-26 15:26:59,291 INFO sqlalchemy.engine.base.Engine SELECT users.id AS users_id, users.name AS users_name, users.fullname AS users_fullname, users.password AS users_password
FROM users
WHERE users.name LIKE %(name_1)s AND users.name = %(name_2)s ORDER BY users.id
2018-12-26 15:26:59,292 INFO sqlalchemy.engine.base.Engine {'name_1': '%ed%', 'name_2': 'ed'}

In [72]:
query.filter(User.id == 0).one_or_none() is None

2018-12-26 15:26:59,539 INFO sqlalchemy.engine.base.Engine SELECT users.id AS users_id, users.name AS users_name, users.fullname AS users_fullname, users.password AS users_password
FROM users
WHERE users.name LIKE %(name_1)s AND users.id = %(id_1)s ORDER BY users.id
2018-12-26 15:26:59,540 INFO sqlalchemy.engine.base.Engine {'name_1': '%ed%', 'id_1': 0}

True

In [73]:
# scalar() returns the first column of .one() call
session.query(User.fullname).filter(User.name == 'ed').scalar()

2018-12-26 15:27:00,199 INFO sqlalchemy.engine.base.Engine SELECT users.fullname AS users_fullname
FROM users
WHERE users.name = %(name_1)s
2018-12-26 15:27:00,200 INFO sqlalchemy.engine.base.Engine {'name_1': 'ed'}

'Ed Jones'

### Using Textual SQL

In [74]:
from sqlalchemy import text

In [75]:
query = session.query(User.name)\
    .filter(text("id<224"))\
    .order_by(text("id"))
for user in query.all():
    print('>>>', user.name)

2018-12-26 15:27:03,654 INFO sqlalchemy.engine.base.Engine SELECT users.name AS users_name
FROM users
WHERE id<224 ORDER BY id
2018-12-26 15:27:03,655 INFO sqlalchemy.engine.base.Engine {}
>>> ed
>>> wendy
>>> mary
>>> fred

In [76]:
# using parameters
session.query(User)\
    .filter(text("id < :value and name = :name"))\
    .params(value=224, name="fred")\
    .order_by(User.id)\
    .one()

2018-12-26 15:27:03,846 INFO sqlalchemy.engine.base.Engine SELECT users.id AS users_id, users.name AS users_name, users.fullname AS users_fullname, users.password AS users_password
FROM users
WHERE id < %(value)s and name = %(name)s ORDER BY users.id
2018-12-26 15:27:03,847 INFO sqlalchemy.engine.base.Engine {'value': 224, 'name': 'fred'}

In [77]:
# using SQL
session.query(User)\
    .from_statement(text("SELECT * FROM users WHERE name=:name"))\
    .params(name='ed')\
    .all()

2018-12-26 15:27:04,017 INFO sqlalchemy.engine.base.Engine SELECT * FROM users WHERE name=%(name)s
2018-12-26 15:27:04,018 INFO sqlalchemy.engine.base.Engine {'name': 'ed'}

In [78]:
stmt = text(
    "SELECT name, id, fullname, password FROM users WHERE name=:name"
)
stmt = stmt.columns(User.name, User.id, User.fullname, User.password)
session.query(User).from_statement(stmt).params(name='ed').all()

2018-12-26 15:27:04,601 INFO sqlalchemy.engine.base.Engine SELECT name, id, fullname, password FROM users WHERE name=%(name)s
2018-12-26 15:27:04,602 INFO sqlalchemy.engine.base.Engine {'name': 'ed'}

In [79]:
stmt = text("SELECT name, id FROM users where name=:name")
stmt = stmt.columns(User.name, User.id)
session.query(User.id, User.name)\
    .from_statement(stmt)\
    .params(name='ed')\
    .all()

2018-12-26 15:27:05,019 INFO sqlalchemy.engine.base.Engine SELECT name, id FROM users where name=%(name)s
2018-12-26 15:27:05,020 INFO sqlalchemy.engine.base.Engine {'name': 'ed'}

[(1, 'ed')]

### Counting

In [80]:
session.query(User).filter(User.name.like('%ed%')).count()

2018-12-26 15:27:07,851 INFO sqlalchemy.engine.base.Engine SELECT count(*) AS count_1
FROM (SELECT users.id AS users_id, users.name AS users_name, users.fullname AS users_fullname, users.password AS users_password
FROM users
WHERE users.name LIKE %(name_1)s) AS anon_1
2018-12-26 15:27:07,852 INFO sqlalchemy.engine.base.Engine {'name_1': '%ed%'}

2

In [81]:
from sqlalchemy import func

In [82]:
# count of names (group by names)
session.query(func.count(User.name), User.name).group_by(User.name).all()

2018-12-26 15:27:08,214 INFO sqlalchemy.engine.base.Engine SELECT count(users.name) AS count_1, users.name AS users_name
FROM users GROUP BY users.name
2018-12-26 15:27:08,215 INFO sqlalchemy.engine.base.Engine {}

[(1, 'mary'), (1, 'fred'), (1, 'ed'), (1, 'wendy')]

In [83]:
# select count(*) from table
session.query(func.count('*')).select_from(User).scalar()

2018-12-26 15:27:08,390 INFO sqlalchemy.engine.base.Engine SELECT count(%(count_2)s) AS count_1
FROM users
2018-12-26 15:27:08,391 INFO sqlalchemy.engine.base.Engine {'count_2': '*'}

4

In [84]:
# or shorter
session.query(func.count(User.id)).scalar()

2018-12-26 15:27:08,572 INFO sqlalchemy.engine.base.Engine SELECT count(users.id) AS count_1
FROM users
2018-12-26 15:27:08,573 INFO sqlalchemy.engine.base.Engine {}

4

## Building a Relationship

In [85]:
# add a second table to User
from sqlalchemy import ForeignKey
from sqlalchemy.orm import relationship

In [193]:
class Address(Base):
    __tablename__ = 'addresses'
    
    id = Column(Integer, primary_key=True)
    email = Column(String(100), nullable=False)
    user_id = Column(Integer, ForeignKey('users.id'))
    
    user = relationship("User", back_populates='addresses')
    
    def __repr__(self):
        return f'<Address(email={self.email})>'

In [194]:
User.addresses = relationship(
    'Address', 
    order_by=Address.id,
    back_populates='user',
)

In [88]:
Base.metadata.create_all(engine)

2018-12-26 15:27:10,785 INFO sqlalchemy.engine.base.Engine select relname from pg_class c join pg_namespace n on n.oid=c.relnamespace where pg_catalog.pg_table_is_visible(c.oid) and relname=%(name)s
2018-12-26 15:27:10,785 INFO sqlalchemy.engine.base.Engine {'name': 'users'}
2018-12-26 15:27:10,787 INFO sqlalchemy.engine.base.Engine select relname from pg_class c join pg_namespace n on n.oid=c.relnamespace where pg_catalog.pg_table_is_visible(c.oid) and relname=%(name)s
2018-12-26 15:27:10,787 INFO sqlalchemy.engine.base.Engine {'name': 'addresses'}
2018-12-26 15:27:10,789 INFO sqlalchemy.engine.base.Engine
CREATE TABLE addresses (
	id SERIAL NOT NULL,
	email VARCHAR(100) NOT NULL,
	user_id INTEGER,
	PRIMARY KEY (id),
	FOREIGN KEY(user_id) REFERENCES users (id)
)


2018-12-26 15:27:10,789 INFO sqlalchemy.engine.base.Engine {}
2018-12-26 15:27:10,801 INFO sqlalchemy.engine.base.Engine COMMIT

## Working with Related Objects

In [89]:
jack = User(name='jack', fullname='Jack Bean', password='123123')
jack.addresses

[]

In [90]:
jack.addresses = [
    Address(email='jack@example.com'),
    Address(email='jack@yandex.ru'),
]

In [94]:
jack.addresses[1]

2018-12-26 15:27:35,184 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2018-12-26 15:27:35,186 INFO sqlalchemy.engine.base.Engine SELECT users.id AS users_id, users.name AS users_name, users.fullname AS users_fullname, users.password AS users_password
FROM users
WHERE users.id = %(param_1)s
2018-12-26 15:27:35,186 INFO sqlalchemy.engine.base.Engine {'param_1': 6}
2018-12-26 15:27:35,188 INFO sqlalchemy.engine.base.Engine SELECT addresses.id AS addresses_id, addresses.email AS addresses_email, addresses.user_id AS addresses_user_id
FROM addresses
WHERE %(param_1)s = addresses.user_id ORDER BY addresses.id
2018-12-26 15:27:35,189 INFO sqlalchemy.engine.base.Engine {'param_1': 6}

In [95]:
jack.addresses[1].user

In [96]:
session.add(jack)
session.commit()

2018-12-26 15:27:35,676 INFO sqlalchemy.engine.base.Engine COMMIT

In [97]:
jack = session.query(User).filter(User.name == 'jack').one()
jack

2018-12-26 15:27:36,182 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2018-12-26 15:27:36,183 INFO sqlalchemy.engine.base.Engine SELECT users.id AS users_id, users.name AS users_name, users.fullname AS users_fullname, users.password AS users_password
FROM users
WHERE users.name = %(name_1)s
2018-12-26 15:27:36,183 INFO sqlalchemy.engine.base.Engine {'name_1': 'jack'}

In [98]:
jack.addresses

2018-12-26 15:27:36,667 INFO sqlalchemy.engine.base.Engine SELECT addresses.id AS addresses_id, addresses.email AS addresses_email, addresses.user_id AS addresses_user_id
FROM addresses
WHERE %(param_1)s = addresses.user_id ORDER BY addresses.id
2018-12-26 15:27:36,668 INFO sqlalchemy.engine.base.Engine {'param_1': 6}

## Querying with Joins

In [99]:
query = session.query(User, Address)\
    .filter(User.id == Address.user_id) \
    .filter(Address.email == 'jack@yandex.ru')
for u, a in query.all():
    print('--+', u)
    print('  |- ', a)

2018-12-26 15:27:37,541 INFO sqlalchemy.engine.base.Engine SELECT users.id AS users_id, users.name AS users_name, users.fullname AS users_fullname, users.password AS users_password, addresses.id AS addresses_id, addresses.email AS addresses_email, addresses.user_id AS addresses_user_id
FROM users, addresses
WHERE users.id = addresses.user_id AND addresses.email = %(email_1)s
2018-12-26 15:27:37,542 INFO sqlalchemy.engine.base.Engine {'email_1': 'jack@yandex.ru'}
--+ <User(name=jack, fullname=Jack Bean, password=123123)>
  |-  <Address(email=jack@yandex.ru)>

In [100]:
session.query(User).join(Address)\
    .filter(Address.email == 'jack@yandex.ru') \
    .all()

2018-12-26 15:27:38,047 INFO sqlalchemy.engine.base.Engine SELECT users.id AS users_id, users.name AS users_name, users.fullname AS users_fullname, users.password AS users_password
FROM users JOIN addresses ON users.id = addresses.user_id
WHERE addresses.email = %(email_1)s
2018-12-26 15:27:38,048 INFO sqlalchemy.engine.base.Engine {'email_1': 'jack@yandex.ru'}

In [101]:
# other styles

In [102]:
session.query(User).join(Address, User.id == Address.user_id).all()

2018-12-26 15:27:38,780 INFO sqlalchemy.engine.base.Engine SELECT users.id AS users_id, users.name AS users_name, users.fullname AS users_fullname, users.password AS users_password
FROM users JOIN addresses ON users.id = addresses.user_id
2018-12-26 15:27:38,781 INFO sqlalchemy.engine.base.Engine {}

In [103]:
session.query(User).join(User.addresses).all()

2018-12-26 15:27:38,940 INFO sqlalchemy.engine.base.Engine SELECT users.id AS users_id, users.name AS users_name, users.fullname AS users_fullname, users.password AS users_password
FROM users JOIN addresses ON users.id = addresses.user_id
2018-12-26 15:27:38,941 INFO sqlalchemy.engine.base.Engine {}

In [104]:
session.query(User).join(Address, User.addresses).all()

2018-12-26 15:27:39,349 INFO sqlalchemy.engine.base.Engine SELECT users.id AS users_id, users.name AS users_name, users.fullname AS users_fullname, users.password AS users_password
FROM users JOIN addresses ON users.id = addresses.user_id
2018-12-26 15:27:39,350 INFO sqlalchemy.engine.base.Engine {}

In [105]:
session.query(User).join('addresses').all()

2018-12-26 15:27:39,940 INFO sqlalchemy.engine.base.Engine SELECT users.id AS users_id, users.name AS users_name, users.fullname AS users_fullname, users.password AS users_password
FROM users JOIN addresses ON users.id = addresses.user_id
2018-12-26 15:27:39,941 INFO sqlalchemy.engine.base.Engine {}

In [106]:
# outerjoin
session.query(User).outerjoin(User.addresses).all()

2018-12-26 15:27:40,410 INFO sqlalchemy.engine.base.Engine SELECT users.id AS users_id, users.name AS users_name, users.fullname AS users_fullname, users.password AS users_password
FROM users LEFT OUTER JOIN addresses ON users.id = addresses.user_id
2018-12-26 15:27:40,411 INFO sqlalchemy.engine.base.Engine {}

[<User(name=jack, fullname=Jack Bean, password=123123)>,
 <User(name=wendy, fullname=Wendy Williams, password=foo)>,
 <User(name=fred, fullname=Freddy Cruger, password=oak)>,
 <User(name=ed, fullname=Ed Jones, password=new-password)>,
 <User(name=mary, fullname=Mary Johnes, password=bar)>]

In [107]:
# order of joining
session.query(User, Address).select_from(Address).join(User).all()

2018-12-26 15:27:40,836 INFO sqlalchemy.engine.base.Engine SELECT users.id AS users_id, users.name AS users_name, users.fullname AS users_fullname, users.password AS users_password, addresses.id AS addresses_id, addresses.email AS addresses_email, addresses.user_id AS addresses_user_id
FROM addresses JOIN users ON users.id = addresses.user_id
2018-12-26 15:27:40,836 INFO sqlalchemy.engine.base.Engine {}

[(<User(name=jack, fullname=Jack Bean, password=123123)>,
  <Address(email=jack@example.com)>),
 (<User(name=jack, fullname=Jack Bean, password=123123)>,
  <Address(email=jack@yandex.ru)>)]

### Using aliases

In [108]:
from sqlalchemy.orm import aliased

In [109]:
addr1 = aliased(Address)
addr2 = aliased(Address)

In [110]:
query = session.query(User.name, addr1.email, addr2.email)\
    .join(addr1, User.addresses)\
    .join(addr2, User.addresses)\
    .filter(addr1.email == 'jack@yandex.ru')\
    .filter(addr2.email == 'jack@example.com')

In [111]:
for username, email1, email2 in query:
    print(username, email1, email2)

2018-12-26 15:27:42,080 INFO sqlalchemy.engine.base.Engine SELECT users.name AS users_name, addresses_1.email AS addresses_1_email, addresses_2.email AS addresses_2_email
FROM users JOIN addresses AS addresses_1 ON users.id = addresses_1.user_id JOIN addresses AS addresses_2 ON users.id = addresses_2.user_id
WHERE addresses_1.email = %(email_1)s AND addresses_2.email = %(email_2)s
2018-12-26 15:27:42,081 INFO sqlalchemy.engine.base.Engine {'email_1': 'jack@yandex.ru', 'email_2': 'jack@example.com'}
jack jack@yandex.ru jack@example.com

### Using Subqueries

In [112]:
from sqlalchemy.sql import func

In [113]:
address_count = session\
    .query(Address.user_id, func.count('*').label('address_count'))\
    .group_by(Address.user_id)\
    .subquery()

In [114]:
qq = session.query(User, address_count.c.address_count)\
    .outerjoin(address_count, User.id == address_count.c.user_id)\
    .order_by(User.id)

In [115]:
for u, count in qq:
    print('>>>', u, ':', count)

2018-12-26 15:27:43,698 INFO sqlalchemy.engine.base.Engine SELECT users.id AS users_id, users.name AS users_name, users.fullname AS users_fullname, users.password AS users_password, anon_1.address_count AS anon_1_address_count
FROM users LEFT OUTER JOIN (SELECT addresses.user_id AS user_id, count(%(count_1)s) AS address_count
FROM addresses GROUP BY addresses.user_id) AS anon_1 ON users.id = anon_1.user_id ORDER BY users.id
2018-12-26 15:27:43,699 INFO sqlalchemy.engine.base.Engine {'count_1': '*'}
>>> <User(name=ed, fullname=Ed Jones, password=new-password)> : None
>>> <User(name=wendy, fullname=Wendy Williams, password=foo)> : None
>>> <User(name=mary, fullname=Mary Johnes, password=bar)> : None
>>> <User(name=fred, fullname=Freddy Cruger, password=oak)> : None
>>> <User(name=jack, fullname=Jack Bean, password=123123)> : 2

### Selecting Entities from Subqueries

In [116]:
addr_subquery = session.query(Address)\
    .filter(Address.email != 'jack@yandex.ru')\
    .subquery()

In [117]:
subquery_alias = aliased(Address, addr_subquery)

In [118]:
qq = session.query(User, subquery_alias)\
    .join(subquery_alias, User.addresses)

In [119]:
for usr, addr in qq:
    print('User:', usr)
    print('Addr:', addr)
    print()

2018-12-26 15:27:45,654 INFO sqlalchemy.engine.base.Engine SELECT users.id AS users_id, users.name AS users_name, users.fullname AS users_fullname, users.password AS users_password, anon_1.id AS anon_1_id, anon_1.email AS anon_1_email, anon_1.user_id AS anon_1_user_id
FROM users JOIN (SELECT addresses.id AS id, addresses.email AS email, addresses.user_id AS user_id
FROM addresses
WHERE addresses.email != %(email_1)s) AS anon_1 ON users.id = anon_1.user_id
2018-12-26 15:27:45,655 INFO sqlalchemy.engine.base.Engine {'email_1': 'jack@yandex.ru'}
User: <User(name=jack, fullname=Jack Bean, password=123123)>
Addr: <Address(email=jack@example.com)>

### Using EXISTS

The EXISTS keyword in SQL is a boolean operator which returns True if the given expression contains any rows. It may be used in many scenarios in place of joins, and is also useful for locating rows which do not have a corresponding row in a related table.

In [120]:
from sqlalchemy.sql import exists

In [121]:
stmt = exists().where(Address.user_id == User.id)

In [122]:
for name, in session.query(User.name).filter(stmt):
    print('>>>', name)

2018-12-26 15:27:48,121 INFO sqlalchemy.engine.base.Engine SELECT users.name AS users_name
FROM users
WHERE EXISTS (SELECT *
FROM addresses
WHERE addresses.user_id = users.id)
2018-12-26 15:27:48,123 INFO sqlalchemy.engine.base.Engine {}
>>> jack

In [123]:
for name, in session.query(User.name).filter(User.addresses.any()):
    print('>>>', name)

2018-12-26 15:27:48,989 INFO sqlalchemy.engine.base.Engine SELECT users.name AS users_name
FROM users
WHERE EXISTS (SELECT 1
FROM addresses
WHERE users.id = addresses.user_id)
2018-12-26 15:27:48,990 INFO sqlalchemy.engine.base.Engine {}
>>> jack

In [124]:
qq = session.query(User.name)\
    .filter(User.addresses.any(Address.email.like('%yandex%')))

for name, in qq:
    print('>>>', name)

2018-12-26 15:27:49,706 INFO sqlalchemy.engine.base.Engine SELECT users.name AS users_name
FROM users
WHERE EXISTS (SELECT 1
FROM addresses
WHERE users.id = addresses.user_id AND addresses.email LIKE %(email_1)s)
2018-12-26 15:27:49,707 INFO sqlalchemy.engine.base.Engine {'email_1': '%yandex%'}
>>> jack

In [125]:
# has() is the same as any() for many-to-one relations
session.query(Address).filter(~Address.user.has(User.name == 'jack')).all()

2018-12-26 15:27:50,478 INFO sqlalchemy.engine.base.Engine SELECT addresses.id AS addresses_id, addresses.email AS addresses_email, addresses.user_id AS addresses_user_id
FROM addresses
WHERE NOT (EXISTS (SELECT 1
FROM users
WHERE users.id = addresses.user_id AND users.name = %(name_1)s))
2018-12-26 15:27:50,479 INFO sqlalchemy.engine.base.Engine {'name_1': 'jack'}

[]

### Common Relationship Operators

In [126]:
query = session.query(Address)
jack = session.query(User).filter(User.name == 'jack').one()

2018-12-26 15:27:51,757 INFO sqlalchemy.engine.base.Engine SELECT users.id AS users_id, users.name AS users_name, users.fullname AS users_fullname, users.password AS users_password
FROM users
WHERE users.name = %(name_1)s
2018-12-26 15:27:51,758 INFO sqlalchemy.engine.base.Engine {'name_1': 'jack'}

In [127]:
query.filter(Address.user == jack).all()

2018-12-26 15:27:52,227 INFO sqlalchemy.engine.base.Engine SELECT addresses.id AS addresses_id, addresses.email AS addresses_email, addresses.user_id AS addresses_user_id
FROM addresses
WHERE %(param_1)s = addresses.user_id
2018-12-26 15:27:52,228 INFO sqlalchemy.engine.base.Engine {'param_1': 6}

In [128]:
query.filter(Address.user != jack).all()

2018-12-26 15:27:52,667 INFO sqlalchemy.engine.base.Engine SELECT addresses.id AS addresses_id, addresses.email AS addresses_email, addresses.user_id AS addresses_user_id
FROM addresses
WHERE addresses.user_id != %(user_id_1)s OR addresses.user_id IS NULL
2018-12-26 15:27:52,668 INFO sqlalchemy.engine.base.Engine {'user_id_1': 6}

[]

In [129]:
query.filter(Address.user == None).all()

2018-12-26 15:27:53,177 INFO sqlalchemy.engine.base.Engine SELECT addresses.id AS addresses_id, addresses.email AS addresses_email, addresses.user_id AS addresses_user_id
FROM addresses
WHERE addresses.user_id IS NULL
2018-12-26 15:27:53,177 INFO sqlalchemy.engine.base.Engine {}

[]

In [130]:
y_addr = jack.addresses[1]

In [131]:
session.query(Address).filter(User.addresses.contains(y_addr)).all()

2018-12-26 15:27:54,210 INFO sqlalchemy.engine.base.Engine SELECT addresses.id AS addresses_id, addresses.email AS addresses_email, addresses.user_id AS addresses_user_id
FROM addresses, users
WHERE users.id = %(param_1)s
2018-12-26 15:27:54,211 INFO sqlalchemy.engine.base.Engine {'param_1': 6}

In [132]:
query.filter(User.addresses.any(Address.email == 'jack@yandex.ru')).all()

2018-12-26 15:27:55,096 INFO sqlalchemy.engine.base.Engine SELECT addresses.id AS addresses_id, addresses.email AS addresses_email, addresses.user_id AS addresses_user_id
FROM addresses
WHERE EXISTS (SELECT 1
FROM users, addresses
WHERE users.id = addresses.user_id AND addresses.email = %(email_1)s)
2018-12-26 15:27:55,097 INFO sqlalchemy.engine.base.Engine {'email_1': 'jack@yandex.ru'}

In [133]:
query.filter(User.addresses.any(email='jack@yandex.ru')).all()

2018-12-26 15:27:56,086 INFO sqlalchemy.engine.base.Engine SELECT addresses.id AS addresses_id, addresses.email AS addresses_email, addresses.user_id AS addresses_user_id
FROM addresses
WHERE EXISTS (SELECT 1
FROM users, addresses
WHERE users.id = addresses.user_id AND addresses.email = %(email_1)s)
2018-12-26 15:27:56,087 INFO sqlalchemy.engine.base.Engine {'email_1': 'jack@yandex.ru'}

In [134]:
query.filter(Address.user.has(name='ed')).all()

2018-12-26 15:27:56,750 INFO sqlalchemy.engine.base.Engine SELECT addresses.id AS addresses_id, addresses.email AS addresses_email, addresses.user_id AS addresses_user_id
FROM addresses
WHERE EXISTS (SELECT 1
FROM users
WHERE users.id = addresses.user_id AND users.name = %(name_1)s)
2018-12-26 15:27:56,751 INFO sqlalchemy.engine.base.Engine {'name_1': 'ed'}

[]

In [135]:
session.query(Address).with_parent(jack, 'addresses').all()

2018-12-26 15:27:57,796 INFO sqlalchemy.engine.base.Engine SELECT addresses.id AS addresses_id, addresses.email AS addresses_email, addresses.user_id AS addresses_user_id
FROM addresses
WHERE %(param_1)s = addresses.user_id
2018-12-26 15:27:57,798 INFO sqlalchemy.engine.base.Engine {'param_1': 6}

## Eager Loading

### Subquery Load

In [136]:
from sqlalchemy.orm import subqueryload

In [137]:
jack = session.query(User)\
    .options(subqueryload(User.addresses))\
    .filter_by(name='jack')\
    .one()

2018-12-26 15:27:59,709 INFO sqlalchemy.engine.base.Engine SELECT users.id AS users_id, users.name AS users_name, users.fullname AS users_fullname, users.password AS users_password
FROM users
WHERE users.name = %(name_1)s
2018-12-26 15:27:59,710 INFO sqlalchemy.engine.base.Engine {'name_1': 'jack'}
2018-12-26 15:27:59,712 INFO sqlalchemy.engine.base.Engine SELECT addresses.id AS addresses_id, addresses.email AS addresses_email, addresses.user_id AS addresses_user_id, anon_1.users_id AS anon_1_users_id
FROM (SELECT users.id AS users_id
FROM users
WHERE users.name = %(name_1)s) AS anon_1 JOIN addresses ON anon_1.users_id = addresses.user_id ORDER BY anon_1.users_id, addresses.id
2018-12-26 15:27:59,713 INFO sqlalchemy.engine.base.Engine {'name_1': 'jack'}

In [138]:
jack

In [139]:
# no extra query to DB for addresses
jack.addresses

### Joined Load

In [140]:
from sqlalchemy.orm import joinedload

In [141]:
# get all data in one query
jack = session.query(User)\
    .options(joinedload(User.addresses))\
    .filter_by(name='jack')\
    .one()

2018-12-26 15:28:01,479 INFO sqlalchemy.engine.base.Engine SELECT users.id AS users_id, users.name AS users_name, users.fullname AS users_fullname, users.password AS users_password, addresses_1.id AS addresses_1_id, addresses_1.email AS addresses_1_email, addresses_1.user_id AS addresses_1_user_id
FROM users LEFT OUTER JOIN addresses AS addresses_1 ON users.id = addresses_1.user_id
WHERE users.name = %(name_1)s ORDER BY addresses_1.id
2018-12-26 15:28:01,480 INFO sqlalchemy.engine.base.Engine {'name_1': 'jack'}

In [142]:
jack

In [143]:
jack.addresses

### Explicit Join + Eagerload

In [144]:
from sqlalchemy.orm import contains_eager

In [145]:
jacks_addresses = session.query(Address)\
    .join(Address.user)\
    .filter(User.name == 'jack')\
    .options(contains_eager(Address.user))\
    .all()

2018-12-26 15:28:02,886 INFO sqlalchemy.engine.base.Engine SELECT users.id AS users_id, users.name AS users_name, users.fullname AS users_fullname, users.password AS users_password, addresses.id AS addresses_id, addresses.email AS addresses_email, addresses.user_id AS addresses_user_id
FROM addresses JOIN users ON users.id = addresses.user_id
WHERE users.name = %(name_1)s
2018-12-26 15:28:02,887 INFO sqlalchemy.engine.base.Engine {'name_1': 'jack'}

In [146]:
jacks_addresses

In [147]:
jacks_addresses[0].user

## Deleting

In [148]:
jack

In [149]:
session.delete(jack)

In [150]:
session.query(User).filter_by(name='jack').count()

2018-12-26 15:28:04,777 INFO sqlalchemy.engine.base.Engine UPDATE addresses SET user_id=%(user_id)s WHERE addresses.id = %(addresses_id)s
2018-12-26 15:28:04,778 INFO sqlalchemy.engine.base.Engine ({'user_id': None, 'addresses_id': 1}, {'user_id': None, 'addresses_id': 2})
2018-12-26 15:28:04,780 INFO sqlalchemy.engine.base.Engine DELETE FROM users WHERE users.id = %(id)s
2018-12-26 15:28:04,780 INFO sqlalchemy.engine.base.Engine {'id': 6}
2018-12-26 15:28:04,782 INFO sqlalchemy.engine.base.Engine SELECT count(*) AS count_1
FROM (SELECT users.id AS users_id, users.name AS users_name, users.fullname AS users_fullname, users.password AS users_password
FROM users
WHERE users.name = %(name_1)s) AS anon_1
2018-12-26 15:28:04,783 INFO sqlalchemy.engine.base.Engine {'name_1': 'jack'}

0

In [151]:
session.query(Address).filter(
    Address.email.in_(('jack@yandex.ru', 'jack@example.com'))
).count()

2018-12-26 15:28:05,217 INFO sqlalchemy.engine.base.Engine SELECT count(*) AS count_1
FROM (SELECT addresses.id AS addresses_id, addresses.email AS addresses_email, addresses.user_id AS addresses_user_id
FROM addresses
WHERE addresses.email IN (%(email_1)s, %(email_2)s)) AS anon_1
2018-12-26 15:28:05,218 INFO sqlalchemy.engine.base.Engine {'email_1': 'jack@yandex.ru', 'email_2': 'jack@example.com'}

2

### Configuring delete/delete-orphan Cascade

In [152]:
session.close()

2018-12-26 15:28:06,338 INFO sqlalchemy.engine.base.Engine ROLLBACK

In [16]:
Base = declarative_base()

In [17]:
class User(Base):
    __tablename__ = 'users'
    
    id = Column(Integer, primary_key=True)
    name = Column(String(50))
    fullname = Column(String(100))
    password = Column(String(50))
    
    addresses = relationship(
        'Address',
        back_populates='user',
        cascade='all, delete, delete-orphan',
    )
    
    def __repr__(self):
        return (
            f'<User(name={self.name}, fullname={self.fullname}, '
            f'password={self.password})>'
        )

In [18]:
class Address(Base):
    __tablename__ = 'addresses'
    
    id = Column(Integer, primary_key=True)
    email = Column(String(100), nullable=False)
    user_id = Column(Integer, ForeignKey('users.id'))
    
    user = relationship("User", back_populates='addresses')
    
    def __repr__(self):
        return f'<Address(email={self.email})>'

In [19]:
jack = session.query(User).filter(User.name == 'jack').one()

NameError: name 'session' is not defined

In [157]:
jack.id

6

In [158]:
del jack.addresses[1]

2018-12-26 15:28:09,003 INFO sqlalchemy.engine.base.Engine SELECT addresses.id AS addresses_id, addresses.email AS addresses_email, addresses.user_id AS addresses_user_id
FROM addresses
WHERE %(param_1)s = addresses.user_id
2018-12-26 15:28:09,004 INFO sqlalchemy.engine.base.Engine {'param_1': 6}

In [159]:
# only one address remains
session.query(Address)\
    .filter(Address.email.like('jack%'))\
    .count()

2018-12-26 15:28:09,348 INFO sqlalchemy.engine.base.Engine DELETE FROM addresses WHERE addresses.id = %(id)s
2018-12-26 15:28:09,350 INFO sqlalchemy.engine.base.Engine {'id': 2}
2018-12-26 15:28:09,351 INFO sqlalchemy.engine.base.Engine SELECT count(*) AS count_1
FROM (SELECT addresses.id AS addresses_id, addresses.email AS addresses_email, addresses.user_id AS addresses_user_id
FROM addresses
WHERE addresses.email LIKE %(email_1)s) AS anon_1
2018-12-26 15:28:09,352 INFO sqlalchemy.engine.base.Engine {'email_1': 'jack%'}

1

In [160]:
session.delete(jack)

In [161]:
session.query(User).filter_by(name='jack').count()

2018-12-26 15:28:10,416 INFO sqlalchemy.engine.base.Engine DELETE FROM addresses WHERE addresses.id = %(id)s
2018-12-26 15:28:10,417 INFO sqlalchemy.engine.base.Engine {'id': 1}
2018-12-26 15:28:10,418 INFO sqlalchemy.engine.base.Engine DELETE FROM users WHERE users.id = %(id)s
2018-12-26 15:28:10,419 INFO sqlalchemy.engine.base.Engine {'id': 6}
2018-12-26 15:28:10,421 INFO sqlalchemy.engine.base.Engine SELECT count(*) AS count_1
FROM (SELECT users.id AS users_id, users.name AS users_name, users.fullname AS users_fullname, users.password AS users_password
FROM users
WHERE users.name = %(name_1)s) AS anon_1
2018-12-26 15:28:10,421 INFO sqlalchemy.engine.base.Engine {'name_1': 'jack'}

0

In [162]:
session.query(Address)\
    .filter(Address.email.like('jack%'))\
    .count()

2018-12-26 15:28:10,799 INFO sqlalchemy.engine.base.Engine SELECT count(*) AS count_1
FROM (SELECT addresses.id AS addresses_id, addresses.email AS addresses_email, addresses.user_id AS addresses_user_id
FROM addresses
WHERE addresses.email LIKE %(email_1)s) AS anon_1
2018-12-26 15:28:10,800 INFO sqlalchemy.engine.base.Engine {'email_1': 'jack%'}

0

## Building a Many to Many Relationship

In [1]:
from sqlalchemy import Table, Text, Column, Integer, String, ForeignKey
from sqlalchemy.ext.declarative import declarative_base
from sqlalchemy.orm import relationship

In [2]:
Base = declarative_base()

Just to collect all models together here

In [3]:
class User(Base):
    __tablename__ = 'users'
    
    id = Column(Integer, primary_key=True)
    name = Column(String(50))
    fullname = Column(String(100))
    password = Column(String(50))
    
    def __repr__(self):
        return (
            f'<User(name={self.name}, fullname={self.fullname}, '
            f'password={self.password})>'
        )

In [4]:
class Address(Base):
    __tablename__ = 'addresses'
    
    id = Column(Integer, primary_key=True)
    email = Column(String(100), nullable=False)
    user_id = Column(Integer, ForeignKey('users.id'))
    
    user = relationship("User", back_populates='addresses')
    
    def __repr__(self):
        return f'<Address(email={self.email})>'

In [5]:
User.addresses = relationship(
    'Address', 
    order_by=Address.id,
    back_populates='user',
)

In [6]:
# association table
post_keywords = Table(
    'post_keywords',
    Base.metadata,
    Column('post_id', ForeignKey('posts.id'), primary_key=True),
    Column('keyword_id', ForeignKey('keywords.id'), primary_key=True),
)

In [7]:
class BlogPost(Base):
    __tablename__ = 'posts'
    
    id = Column(Integer, primary_key=True)
    user_id = Column(Integer, ForeignKey('users.id'))
    headline = Column(String(255), nullable=False)
    body = Column(Text)
    
    # many to many BlogPost<->Keyword
    keywords = relationship(
        'Keyword',
        secondary=post_keywords,
        back_populates='posts',
    )
    
    def __init__(self, headline, body, user):
        self.author = author
        self.headline = headline
        self.body = body
    
    def __repr__(self):
        return f'BlogPost({self.headline[:10]} by {self.author})'

In [8]:
class Keyword(Base):
    __tablename__ = 'keywords'
    
    id = Column(Integer, primary_key=True)
    keyword = Column(String(50), nullable=False, unique=True)
    
    # m2m Keyword<->BlogPost
    posts = relationship(
        'BlogPost',
        secondary=post_keywords,
        back_populates='keywords',
    )
    
    def __init__(self, keyword):
        self.keyword = keyword

In [9]:
BlogPost.author = relationship(User, back_populates='posts')
User.posts = relationship(BlogPost, back_populates='author', lazy='dynamic')

In [254]:
Base.metadata.create_all(engine)

2018-12-26 15:48:53,780 INFO sqlalchemy.engine.base.Engine select relname from pg_class c join pg_namespace n on n.oid=c.relnamespace where pg_catalog.pg_table_is_visible(c.oid) and relname=%(name)s
2018-12-26 15:48:53,781 INFO sqlalchemy.engine.base.Engine {'name': 'users'}
2018-12-26 15:48:53,782 INFO sqlalchemy.engine.base.Engine select relname from pg_class c join pg_namespace n on n.oid=c.relnamespace where pg_catalog.pg_table_is_visible(c.oid) and relname=%(name)s
2018-12-26 15:48:53,783 INFO sqlalchemy.engine.base.Engine {'name': 'addresses'}
2018-12-26 15:48:53,784 INFO sqlalchemy.engine.base.Engine select relname from pg_class c join pg_namespace n on n.oid=c.relnamespace where pg_catalog.pg_table_is_visible(c.oid) and relname=%(name)s
2018-12-26 15:48:53,785 INFO sqlalchemy.engine.base.Engine {'name': 'post_keywords'}
2018-12-26 15:48:53,786 INFO sqlalchemy.engine.base.Engine select relname from pg_class c join pg_namespace n on n.oid=c.relnamespace where pg_catalog.pg_table_is_visible(c.oid) and relname=%(name)s
2018-12-26 15:48:53,787 INFO sqlalchemy.engine.base.Engine {'name': 'posts'}
2018-12-26 15:48:53,788 INFO sqlalchemy.engine.base.Engine select relname from pg_class c join pg_namespace n on n.oid=c.relnamespace where pg_catalog.pg_table_is_visible(c.oid) and relname=%(name)s
2018-12-26 15:48:53,789 INFO sqlalchemy.engine.base.Engine {'name': 'keywords'}

In [20]:
wendy = session.query(User).filter(User.name == 'wendy').all()
wendy

2018-12-26 16:15:02,902 INFO sqlalchemy.engine.base.Engine select version()
2018-12-26 16:15:02,903 INFO sqlalchemy.engine.base.Engine {}
2018-12-26 16:15:02,946 INFO sqlalchemy.engine.base.Engine select current_schema()
2018-12-26 16:15:02,947 INFO sqlalchemy.engine.base.Engine {}
2018-12-26 16:15:02,968 INFO sqlalchemy.engine.base.Engine SELECT CAST('test plain returns' AS VARCHAR(60)) AS anon_1
2018-12-26 16:15:02,969 INFO sqlalchemy.engine.base.Engine {}
2018-12-26 16:15:02,970 INFO sqlalchemy.engine.base.Engine SELECT CAST('test unicode returns' AS VARCHAR(60)) AS anon_1
2018-12-26 16:15:02,971 INFO sqlalchemy.engine.base.Engine {}
2018-12-26 16:15:02,972 INFO sqlalchemy.engine.base.Engine show standard_conforming_strings
2018-12-26 16:15:02,973 INFO sqlalchemy.engine.base.Engine {}
2018-12-26 16:15:02,975 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2018-12-26 16:15:02,976 INFO sqlalchemy.engine.base.Engine SELECT users.id AS users_id, users.name AS users_name, users.fullname AS users_fullname, users.password AS users_password
FROM users
WHERE users.name = %(name_1)s
2018-12-26 16:15:02,977 INFO sqlalchemy.engine.base.Engine {'name_1': 'wendy'}

In [234]:
Base.metadata.tables.keys()

dict_keys(['users', 'addresses', 'post_keywords', 'posts', 'keywords'])